<footer class="mt-auto custom-footer">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
             <div class="font-weight-bold"> 
                কপিরাইট &copy;
                <a class="text-decoration-none text-primary font-weight-bold" href="http://www.bjri.gov.bd/" target="_blank">বি. জে. আর. আই. </a>২০২৩
            </div>
            <div> 
                <a class="text-decoration-none text-primary font-weight-bold" href="http://www.bjri.gov.bd/site/view/innovation/BJRI%20Helpline" target="_blank">প্রাইভেসি পলিসি</a>
                &middot;
                <a class="text-decoration-none text-primary font-weight-bold" href="http://bangladesh.gov.bd/site/view/all_eservices_in_bangladesh/" target="_blank">জাতীয় তথ্য ও সেবা</a>
            </div>
        </div>
    </div>
</footer>